<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <h1>Login</h1>
    <% if (errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
    <% } %>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" />
      <input type="submit" />
    </form>
    <p>New to Game? <a href="/register">Register</a></p>
  </body>
</html>
