<html>
  <head>
    <title>Play</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <h1>Play the Game</h1>
    <h2>User: <% user %></h2>
    <p>The game will be displayed here</p>
  </body>
</html>
